<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gamezawy</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../static/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="../static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <style>
        form {
            padding: 20px;
            border-radius: 5px;
        }

        label {
            display: block;
            margin: 20px 0;
        }

        input[type="password"],
        input[type="email"],
        input[type="tel"] {
            width: 100%;
            height: 40px;
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ccc;
        }

        input[type="file"] {
            margin-bottom: 20px;
        }

        button[type="submit"] {
            width: 100%;
            height: 40px;
            background-color: #007bff;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }

        .profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #f1f1f1;
            border-radius: 1rem;
        }

        .profile-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            justify-content: center;
            height: 500px;
        }

        .profile-info h2 {
            color: black;
            margin-bottom: 20px;
        }

        .profile-edit {
            color: black;
            width: 100%;
            width: 60%;
        }

        .profile-edit h2 {
            margin: 30px 0;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 50px 0;
        }

        input {
            text-align: center;
        }

        input[type="file"] {
            margin-left: 100px;
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="{{ url_for('home') }}">
                            <h4>
                                <span style="color: white;">Game</span><span style="color: #e53637;">zawy</span>
                            </h4>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="{{ url_for('home') }}">Homepage</a></li>
                                <li><a href="{{ url_for('library') }}">Library</a></li>
                                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <a href="{{ url_for('cart') }}"><i class="fa fa-shopping-cart"></i></a>
                        <a href="{{ url_for('add_money') }}"><i class="fa fa-money"></i> {{ user['balance'] |
                            round(2)}}</a>
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="{{ url_for('info') }}"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->



    <!-- Profile Section Begin -->
    <section class="spad">
        <div class="container">
            <div class="profile" style="height: auto;">
                <div class="profile-info">
                    <div class="profile-pic"
                        style="display: flex; justify-content: center; align-items: center; width: 500px; height: 500px;">
                        {% if not user['img_path']:%}
                        <img style="width: 500px;"
                            src="../static/img/user/blank-avatar-photo-place-holder-600nw-1095249842.webp"
                            alt="Profile Picture">
                        {% else %}
                        <img style="width: 500px;" src="{{ url_for('static',filename='img/user/' + user['img_path']) }}"
                            alt="Profile Picture">
                        {% endif %}
                    </div>
                    <h2>{{user['username']}}</h2>
                </div>
                <div class="profile-edit">
                    <form action="/update-general" method="post" enctype="multipart/form-data">
                        <h2>Update General Info</h2>

                        <label for="username">Username:</label>
                        <input type="username" id="username" name="username" placeholder="Your Username"
                            value="{{user['username']}}">

                        <label for="cc">Credit Card:</label>
                        <input type="tel" id="creditcard" name="creditcard" placeholder="1234567890"
                            value="{{user['credit_card']}}">

                        <button type="submit">Update General Info</button>
                        <br>
                        {%if error_msg == "Invalid Credit Card" or error_msg == "Username Is Taken":%}
                        <span style="display:block;color:#e53637;font-size: 20px;width: 100%;text-align:center;"><i
                                class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{error_msg}}
                        </span>
                        {%elif error_msg == "Data Updated Successfully":%}
                        <span
                            style="display:block;color:rgb(90, 217, 90);font-size: 20px;width: 100%;text-align:center;"><i
                                class="fa fa-check" style="color: #5ad95a;"></i> {{error_msg}}
                        </span>
                        {%endif%}
                    </form>
                    <form action="/update-pfp" method="post" enctype="multipart/form-data">
                        <h2>Update Profile Picture</h2>

                        <label for="profilePicture">Profile Picture:</label>
                        <input type="file" id="profilePicture" name="profilePicture" accept="image/*">
                        <button type="submit">Update Profile Picture</button>
                        <br>
                        {%if error_msg == "File Type Not Allowed" or error_msg == "Invalid File Size":%}
                        <span style="display:block;color:#e53637;font-size: 20px;width: 100%;text-align:center;"><i
                                class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{error_msg}}
                        </span>
                        {%elif error_msg == "Profile Picture Updated Successfully":%}
                        <span
                            style="display:block;color:rgb(90, 217, 90);font-size: 20px;width: 100%;text-align:center;"><i
                                class="fa fa-check" style="color: #5ad95a;"></i> {{error_msg}}
                        </span>
                        {%endif%}
                    </form>
                    <form action="/update-password" method="post" enctype="multipart/form-data">
                        <h2>Update Password</h2>
                        <label for="opassword">Current Password:</label>
                        <input type="password" id="opassword" name="opassword" placeholder="Your old password" required>

                        <label for="password">New Password:</label>
                        <input type="password" id="password" name="password" placeholder="Your new password">

                        <label for="cpassword">Confirm Password:</label>
                        <input type="password" id="cpassword" name="cpassword" placeholder="Your new password">
                        <button type="submit">Update Password</button>
                        <br>
                        {%if error_msg == "Old Password Is Incorrect" or error_msg == "Passwords Do Not Match" or
                        error_msg == "Password Does Not Meet Requirements":%}
                        <span style="display:block;color:#e53637;font-size: 20px;width: 100%;text-align:center;"><i
                                class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{error_msg}}
                        </span>
                        {%elif error_msg == "Password Updated Successfully":%}
                        <span
                            style="display:block;color:rgb(90, 217, 90);font-size: 20px;width: 100%;text-align:center;"><i
                                class="fa fa-check" style="color: #5ad95a;"></i> {{error_msg}}
                        </span>
                        {%endif%}
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Profile Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="{{ url_for('home') }}">
                            <h4>
                                <span style="color: white;">Game</span><span style="color: #e53637;">zawy</span>
                            </h4>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li><a href="{{ url_for('home') }}">Homepage</a></li>
                            <li><a href="{{ url_for('library') }}">Library</a></li>
                            <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form action="{{ url_for('search') }}" class="search-model-form" method="POST">
                <input type="text" id="search-input" name="search" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/player.js"></script>
    <script src="../static/js/jquery.nice-select.min.js"></script>
    <script src="../static/js/mixitup.min.js"></script>
    <script src="../static/js/jquery.slicknav.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/main.js"></script>


</body>

</html>